@inject NavigationManager Navigation

<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink></li>
        <li><NavLink href="/citas">Citas</NavLink></li>
        <li><NavLink href="/pacientes">Pacientes</NavLink></li>
        <li><NavLink href="/medicos">Médicos</NavLink></li>
    </ul>
</nav>
